body {
    color: #2a0f55; 
}

.github a{
    background-color: #ffffff;
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;

}

.github{
    position: relative;
    top: 10px;
    margin-left: 30px;

}

.mail{
    position: relative;
    top: 10px;
    left: -15px;
}

.botao{
    background-color: #2a0f55; 
}

.botao:hover {
    background-color: #5e4389; 
}