body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: none;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-background {
    background-color: rgb(14, 13, 13);
    width: 100%;
    height: 100%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width:1030px;
}

.menu li {
    list-style: none;
    display: inline-block;
    height:80px;
    width: min-content;
    margin:0;
    transition: 0.3s;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
}

.menu li:hover {
    border-bottom: 3px solid darkred;
}

.category {
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    vertical-align: auto;
    padding-left: 3px;
    height: 20px;
    width: 20px;
}

.logo-container {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon {
    height: 13px;
    width: 13px;
    padding: 10px;
    transition: filter 0.3s;
}

.social-media-icon:hover {
    filter: invert(68%) brightness(25%) sepia(90%) saturate(4000%);
}

.search {
    height: 12px;
    width: 12px;
    display: flex;
    align-content: start;
    padding-left: 10px;
    padding-right:10px;
    transform: translateY(-100%);
}

.footer-background {
    background-color: rgb(14, 13, 13);
    width: 100%;
    height: 100%;
}

.parent-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-column-presentation {
    font-size: 14px;
    flex:1;
    padding-left: 10px;
    padding-right: 10px;
}

.email {
    text-decoration: none;
    color: darkred;
}

.footer-logo {
    height: 120px;
    width: 300px;
}

.footer-social-media-container{
    width: 40px;
    height: 40px;
    background-color:rgb(33, 28, 28);
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.footer-social-media {
    text-decoration: none;
    width: 100%;
    height:100%;
}

.footer-social-media-icon {
    height: 20px;
    width: 20px;
    padding: 10px;
    transition:filter 0.3s;
}

.footer-social-media-icon:hover {
    filter: invert(68%) brightness(25%) sepia(90%) saturate(4000%);
}

.footer-column-emphasis {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.emphasis-link {
    text-decoration: none;
    color: white;
}

.emphasis-news {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
}

.emphasis-news:hover > div:nth-child(2) > p:first-child {
    color: darkred;
  }

.emphasis-news-image-container {
    height: 70px;
    width: 100px;
}

.emphasis-news-image {
    height: 70px;
    width: 100px;
    margin-right: 10px;
    display: block;
}

.emphasis-news-text {
    flex: 1;
    text-align:left;
    margin-left: 10px;
}

.emphasis-news-text .title {
    transition: 0.3s;
    font-size: 14px;
    margin-top:0;
    margin-bottom: 0;
}

.emphasis-news-text .date {
    font-size: 11px;
    color: #767676;
    margin-bottom: 0;
}

.footer-column-all-categories {
    font-size: 14px;
    flex: 1;
    padding-left: 20px;
    padding-right: 10px;
}

.footer-column-all-categories .title {
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-category-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 100%;
    transition: 0.3s;
}

.footer-category-link span{
    flex: 1;
    text-align: left;
}

.footer-category-link span:nth-child(2) {
    text-align: right;
}

.footer-category-link:hover {
    color: darkred;
}

.last-footer-background {
    background-color: rgb(14, 13, 13);
    width: 100%;
    height: 30px;
    font-size: 10px;
}

.parent-last-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-footer-link {
    text-decoration: none;
    color: white;
    width: min-content;
    margin-left:10px;
    transition: 0.3s;
}

.last-footer-link:hover {
    color: darkred;
}

#ScrollToTop{
    height: 45px;
    width: 45px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: darkred; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    transition: 0.5s;
}

.scroll-to-top-icon {
    height: 30px;
    width: 30px;
}

.scroll-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}