body {
    background-image: url("fundo.png");
    color: rgb(28, 0, 0);
}

.travessuras{
    color: rgb(28, 0, 0);
}

.botao {       
    background-color: rgb(28, 0, 0);
 
}

.botao:hover {
    background-color: rgb(57, 5, 5);
}

